
/* Background Styles */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

.bg {
    background-image: url("../images/mario_large.png"), url("../images/clouds.jpg");
    background-size: 30%, cover;
    background-repeat: no-repeat, no-repeat;
    height: 100%;
    background-position: top right;
}

/* Content Styles */

h1, h2, h3 {
    color: black;
    margin-left: px;
    font-weight: bold;
}

h2 {
    font-size: 2.0vmax;
    color: black;
}

h1 {
    font-size: 5.0vmax;
    color: #AA3414;
    font-family: 'Righteous', cursive;
    
}

.page-header {
    text-align: center;
}

.thumbnail {
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 3px;
}

.thumbnail .caption {
    padding: 0;
}


div.hp p {
    margin-bottom: 0;
}

button#restart {
    visibility: hidden;
}

#battle-char-1, #battle-char-2, #battle-char-3 {
    visibility: hidden;
}

@media only screen and (max-width: 450px) {
    .thumbnail {
        letter-spacing: 0;
    }
}

